{% include "header.html" %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Management
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    {% if action != "complete" %}
                    <div class="box-header with-border">
                        <form action="/users">
                            <button type="submit" class="btn btn-danger" style="float:right;">Cancel</button>
                        </form>
                    </div>
                    {% endif %}
                    {% if action == "complete" %}
                    <div class="box-header with-border">
                            <form action="/users">
                                <button type="submit" class="btn btn-primary" style="float:right;">Return to Users</button>
                            </form>
                        </div>
                    <div class="box-body"><center>
                        <!-- Display success/error message after a submission completes -->
                        <h2>{{ message }}</h2><br>
                    </center></div>
                    {% endif %}
                    

                    {% if action == "edit" %}                    
                    <div class="box-body">
                        <form action="/editUser" method="POST" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="hidden" name="action" value="updateUser">
                                    <input type="hidden" name="user_id" value="{{user['user_id']}}">
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        <input type="text" class="form-control" name="first_name" value="{{user['first_name']}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        <input type="text" class="form-control" name="last_name" value="{{user['last_name']}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="text" class="form-control" name="email" value="{{user['email']}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Role:</label>
                                        <select class="form-control select2" name="role" id="role">
                                            <option value="Standard" {% if user['role'] == "Standard" %} selected{% endif %}>Standard</option>
                                            <option value="Admin" {% if user['role'] == "Admin" %} selected{% endif %}>Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type = "button" id="add" class="btn btn-block btn-primary" value="Add Notification Method">
                                    <!-- notification template -->
                                    <div class="newNotificationForm" name="newNotificationForm" id="notification1" style="display:none;">
                                        <div class="form-group">
                                            <select class="form-control select2" name="type" id="type" style="display:inline; width:30%;">
                                                <option value="phone">Phone</option>
                                                <option value="e-mail">E-Mail</option>
                                            </select>
                                            <input type="text" class="form-control" name="value" placeholder="value" style="display:inline; width:40%;"> 
                                            <input type ="button" id="remove" class="btn btn-danger remove" value="X" style="display:inline;">
                                        </div>
                                    </div><!-- / notification template -->
                                    <div id="newNotificationContainer">
                                        {% for i in user['notifications'] %}
                                        <div class="newNotificationForm" name="newNotificationForm" id="notification{{ loop.index + 1}}">
                                            <input type="hidden" name="existing_id" value="{{ i['n_id'] }}">
                                            <div class="form-group">
                                                <select class="form-control select2" name="existing_ntype" id="existing_ntype" style="display:inline; width:30%;">
                                                    <option value="phone" {% if i['n_type'] == "phone" %} selected{% endif %}>Phone</option>
                                                    <option value="e-mail" {% if i['n_type'] == "e-mail" %} selected{% endif %}>E-Mail</option>
                                                </select>
                                                <input type="text" class="form-control" name="existing_nvalue" value="{{ i['n_value'] }}" style="display:inline; width:40%;"> 
                                                <input type="button" class="btn btn-danger" value="X" style="display:inline;" onclick="deleteNotification({{ i['n_id'] }})">
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div> <!-- / end col 6 -->
                            </div> <!-- / end row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <div class="box-footer"> -->
                                    <center><button type="submit" class="btn btn-block btn-success">Update</button></center>
                                    <!-- </div> -->
                                </div> <!-- / end col 12 -->
                            </div> <!-- / end row -->
                        </form> <!-- / end form -->
                    </div> <!-- /box body -->
                    {% endif %}


                    {% if action == "add" %}                    
                    <div class="box-body">
                        <form action="/editUser" method="POST" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="hidden" name="action" value="addUser">
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        <input type="text" class="form-control" name="first_name">
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        <input type="text" class="form-control" name="last_name">
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password:</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                    <div class="form-group">
                                        <label>Role:</label>
                                        <select class="form-control select2" name="role" id="role">
                                            <option value="Standard">Standard</option>
                                            <option value="Admin">Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type = "button" id="add" class="btn btn-block btn-primary" value="Add Notification Method">
                                    <!-- notification template -->
                                    <div class="newNotificationForm" name="newNotificationForm" id="notification1" style="display:none;">
                                        <div class="form-group">
                                            <select class="form-control select2" name="type" id="type" style="display:inline; width:30%;">
                                                <option value="phone">Phone</option>
                                                <option value="e-mail">E-Mail</option>
                                            </select>
                                            <input type="text" class="form-control" name="value" placeholder="value" style="display:inline; width:40%;"> 
                                            <input type ="button" id="remove" class="btn btn-danger remove" value="X" style="display:inline;">
                                        </div>
                                    </div><!-- / notification template -->
                                </div> <!-- / end col 6 -->
                            </div> <!-- / end row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <div class="box-footer"> -->
                                    <center><button type="submit" class="btn btn-block btn-success">Add User</button></center>
                                    <!-- </div> -->
                                </div> <!-- / end col 12 -->
                            </div> <!-- / end row -->
                        </form> <!-- / end form -->
                    </div> <!-- /box body -->
                    {% endif %}

                    {% if action == "delete" %}                    
                    <div class="box-body">
                        <form action="/editUser" method="POST" role="form">
                            <input type="hidden" name="action" value="deleteUser">
                            <input type="hidden" name="user_id" value="{{user_id}}">
                            <div class="row">
                                <div class="col-md-12">
                                    <center>
                                        <h3>Are you sure you want to delete "<u>{{name}}</u>"?</h3>
                                        <button type="submit" class="btn btn-success">Yes, Delete This User</button>
                                    </center>
                                </div> <!-- / end col 12 -->
                            </div> <!-- / end row -->
                        </form> <!-- / end form -->
                    </div> <!-- /box body -->
                    {% endif %}



                </div> <!-- /box  -->
            </div> <!-- /end col 12-->
        </div> <!-- /end row -->
    </section> <!-- /end content-container fluid -->
</div>
 
<script>
function deleteAlias(alias_id) {
    if (confirm('Are you sure you want to delete this notification?')) {
        // Delete alias
        $.post("/editUser", {
                action: "deleteNotification",
                notification: notification_id
            },
            function(data){
               if(data.success == true){ // if true (1)
                  setTimeout(function(){// wait for 5 secs(2)
                       location.reload(); // then reload the page.(3)
                  }, 5000); 
               }
            }
        );
    } else {
        // Do nothing!
    }

}

$(document).ready(function(){

    $('#add').click(function(){
        $('#notification1').clone().appendTo("#newNotificationContainer");
        $('.newNotificationForm').last().css("display","").hide().fadeIn('slow');
        $('.newNotificationForm').last().attr('id', 'notification' + $('.newNotificationForm').length);
        //$('.newAliasForm:nth-last-child(1) input[name=alias]').attr('name', 'alias' + $('.newAliasForm').length);

    })

    $(document).on('click','#remove', function(){
        $(this).parent().remove();
    });


})

</script>

{% include "footer.html" %}




