			<!-- Main Footer -->
			<footer class="main-footer">
				<!-- To the right -->
				<div class="pull-right hidden-xs">
				</div>
				<!-- Default to the left -->
				<strong>Copyright &copy; 2017 <a href="http://www.medtronic.com/">Medtronic</a>.</strong> All rights reserved.
			</footer>
			<!-- /.control-sidebar -->
			<!-- Add the sidebar's background. This div must be placed
			immediately after the control sidebar -->
			<div class="control-sidebar-bg"></div>	
		</div> <!-- end wrapper -->

		<!-- This is the Jquery function that updates the 'active' tab on the menu when a page loads -->
		<script>
			$(function() {
				var pgurl = '/' + window.location.href.substr(window.location.href.lastIndexOf("/")+1);

				/* These are special cases of pages. They are logically tied to a specific menu item, but
				   their url is different. So we will override the page url to get the desired menu item's
				   corresponding url. */
				if(pgurl.indexOf('?') > -1){
				    pgurl = pgurl.substr(0, pgurl.indexOf('?'));
				}
				if(pgurl == '/addItem'){
				    pgurl = '/scanItems';
				} else if (pgurl == '/scheduleScan') {
				    pgurl = '/scanSchedule';
				} else if (pgurl == '/editUser') {
				    pgurl = '/users';
				} else if (pgurl == '/editScanner') {
                    pgurl = '/scanners';
                }

                /* Now we select the correct menu item based on the page's url, and make it active*/
				$("#nav ul li a").each(function(){
					var thisHref = $(this).attr("href");
					if(thisHref == pgurl || thisHref == '' ) {
			    		var listItem = $(this).parent();
						listItem.addClass("active");
					}
				});
			});
			</script>
	</body>
</html>