<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="../static/bower_components/font-awesome/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="../static/bower_components/Ionicons/css/ionicons.min.css">
	<!-- DataTables -->
	<script src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<!-- daterange picker -->
  	<link rel="stylesheet" href="../static/bower_components/bootstrap-daterangepicker/daterangepicker.css">
  	<script src="../static/bower_components/moment/min/moment.min.js"></script>
	<script src="../static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  	<!-- bootstrap datepicker -->
  	<!-- bootstrap datepicker -->
    <script src="../static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="../static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  	<!-- ChartJS -->
    <script src="../static/bower_components/chart.js/Chart.js"></script>
  	<!-- Bootstrap 3.3.7 -->
	<script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Theme style -->
	<link rel="stylesheet" href="../static/dist/css/AdminLTE.min.css">
	<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
	    page. However, you can choose any other skin. Make sure you
	    apply the skin class to the body tag so the changes take effect. -->
	<link rel="stylesheet" href="../static/dist/css/skins/skin-blue.min.css">
  	<!-- Google Font -->
  	<link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	<link rel="shortcut icon" href="../static/img/medtronic.ico" /><title>Medtronic Web Scanner</title>

	<style>
	.sidenav {
		height: 100%;
    	z-index: 1;
		transition: 0.5s;
		width: 230px;
		position: fixed;
		overflow-x: hidden;

	}

	.sidenav a {
    	padding: 8px 8px 8px 32px;
    	transition: 0.3s;
		display: block;
	}
	</style>
</head>
 

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Main Header -->
		<header class="main-header">
			<!-- Logo (top-left) -->
			<a id="sidebar_logo" href="/" class="logo">
				<span class="logo-lg" ><b>Medtronic</b>Scanner</span> <!-- logo for regular state and mobile devices -->
				<br>
			</a>
			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				{% if session['logged_in'] == true %}
				<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" onclick = "openNav()">
					<span class="sr-only">Toggle navigation</span>
				</a>
				{% endif %}
				<script>
					function openNav() {
						document.getElementById("nav").style.width = document.getElementById('sidebar_logo').style.width;
					}
				</script>
				{% if session['view'] == 'Admin' %}
				<a href="/" class="logo" style="background-color:#3c8cbc;">
					<span class="logo-lg" style="float:left;"><b>Admin</b>Portal</span>
					<br>
				</a>
				{% endif %}

				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Notifications Menu -->
						<li class="dropdown notifications-menu">
							<!-- Menu toggle button -->
							<ul class="dropdown-menu">
								<li class="header">You have 10 notifications</li>
								<li>
									<!-- Inner Menu: contains the notifications -->
									<ul class="menu">
										<li><!-- start notification -->
										    <a href="#">
										    	<i class="fa fa-users text-aqua"></i> 5 new members joined today
										    </a>
										</li>
									  	<!-- end notification -->
									</ul>
								</li>
								<li class="footer"><a href="#">View all</a></li>
							</ul>
						</li>
						{% if session['logged_in'] == true %}
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button -->
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<!-- hidden-xs hides the username on small devices so only the image appears. -->
								<span class="hidden-xs">{{ session['full_name'] }}</span>
							</a>
							<ul class="dropdown-menu">
								<!-- Menu Footer-->
								<li class="user-footer">
									{% if session['view'] == 'Standard'%}
										{% if session['role'] == 'Admin'%}
										<a href="/admin" class="btn btn-default btn-flat">Admin Portal</a>
										{% endif %}	
									{% endif %}	
									{% if session['view'] == 'Admin'%}
										<a href="/" class="btn btn-default btn-flat">Standard View</a>
									{% endif %}	
									<a href="#" class="btn btn-default btn-flat">Account</a>
									<a href="/logout" class="btn btn-default btn-flat">Log Out</a>
								</li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>

		<!-- Sidebar Menu -->
		{% if session['logged_in'] == true %}
		<aside class="main-sidebar">
			<section id='nav' class="sidenav">
				<ul class="sidebar-menu" data-widget="tree">
					<li><a href="#" class="closebtn" onclick="closeNav()"><i class="fa fa-close"></i>Close Menu</a></li>
					{% if session['view'] == 'Standard'%}
					<!--<li class="active"><a href="/"><i class="fa fa-home"></i> <span>Home</span></a></li> -->
					<li><a href="/"><i class="fa fa-home"></i> <span>Home</span></a></li>
					<li><a href="/scanHistory"><i class="fa fa-history"></i> <span>History</span></a></li>
					<li><a href="/scanResults"><i class="fa fa-check-square-o"></i> <span>Results</span></a></li>
					<li><a href="/scanSchedule"><i class="fa fa-calendar"></i> <span>Schedule</span></a></li>
					<li><a href="/scanItems"><i class="fa fa-search"></i> <span>Search Items</span></a></li>
					<li><a href="http://senior.docs.smeyer.xyz/" target="_blank"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
					{% endif %}
					{% if session['view'] == 'Admin'%}
					<li><a href="/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
					<li><a href="/scanners"><i class="fa fa-plug"></i> <span>Scanners</span></a></li>
					<li><a href="/logs"><i class="fa fa-history"></i> <span>Activity</span></a></li>
					<li><a href="/health"><i class="fa fa-heartbeat"></i> <span>Health</span></a></li>
					<li><a href="http://senior.docs.smeyer.xyz/" target="_blank"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
					{% endif %}
					<script>
						var selector = '.sidebar-menu li';
						$(selector).on('click', function(){
    						$(selector).removeClass('active');
    						$(this).addClass('active');
						});
						/* Set the width of the side navigation to 0 */
						function closeNav() {
    						document.getElementById("nav").style.width ="0";
						}
					</script>
				</ul>
			</section>
		</aside>
		{% endif %}