<!-- Include header -->
{% include "header.html" %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row"> <!-- start top row -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ ran_scans }}</h3>
                        <p>Scans Run</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-arrow-graph-up-right"></i>
                    </div>
                    <a href="/scanHistory" class="small-box-footer">See Scan History <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ results }}</h3>
                    <p>Results Found</p>
                </div>
                <div class="icon">
                    <i class="ion ion-flag"></i>
                </div>
                <a href="/scanResults" class="small-box-footer">View Scan Results <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div> <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ scheduled_scans }}</h3>
                    <p>Scans Scheduled</p>
                </div>
                <div class="icon">
                    <i class="ion ion-clock"></i>
                </div>
                <a href="/scanSchedule" class="small-box-footer">Go to Scan Page <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ search_items }}</h3>
              <p>Search Items</p>
            </div>
            <div class="icon">
              <i class="ion ion-search"></i>
            </div>
            <a href="/scanItems" class="small-box-footer">Go to Product Page <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        </div> <!-- /end top row -->

       


        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Weekly Results Report</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="text-center"><strong>Total Results Found</strong></p>
                                <div class="chart">
                                    <canvas id="areaChart" style="height:250px"></canvas>
                                </div>
                            </div><!-- /.col -->
                            <div class="col-md-4">
                                <p class="text-center"><strong>Top Items Found</strong></p>
                                <div class="progress-group">
                                    <span class="progress-text">{{weekly_top[0]["Name"]}}</span>
                                    <span class="progress-number"><b>{{weekly_top[0]["Result_Count"]}}</b>/{{weekly_result_count}}</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-aqua" aria-valuenow="{{weekly_top[0]['Result_Count']}}" aria-valuemin="0" aria-valuemax="{{weekly_result_count}}" style="width: {{weekly_top[0]['Percent']}}%"></div>                                  
                                    </div>
                                </div><!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">{{weekly_top[1]["Name"]}}</span>
                                    <span class="progress-number"><b>{{weekly_top[1]["Result_Count"]}}</b>/{{weekly_result_count}}</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="{{weekly_top[1]['Result_Count']}}" aria-valuemin="0" aria-valuemax="{{weekly_result_count}}" style="width: {{weekly_top[1]['Percent']}}%"></div>
                                    </div>
                                </div><!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">{{weekly_top[2]["Name"]}}</span>
                                    <span class="progress-number"><b>{{weekly_top[2]["Result_Count"]}}</b>/{{weekly_result_count}}</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="{{weekly_top[2]['Result_Count']}}" aria-valuemin="0" aria-valuemax="{{weekly_result_count}}" style="width: {{weekly_top[2]['Percent']}}%"></div>
                                    </div>
                                </div><!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">{{weekly_top[3]["Name"]}}</span>
                                    <span class="progress-number"><b>{{weekly_top[3]["Result_Count"]}}</b>/{{weekly_result_count}}</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="{{weekly_top[3]['Result_Count']}}" aria-valuemin="0" aria-valuemax="{{weekly_result_count}}" style="width: {{weekly_top[3]['Percent']}}%"></div>
                                    </div>
                                </div><!-- /.progress-group -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- ./box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

    
 
<!-- Page JavaScript/Jquery goes here -->
<script>

  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

    //--------------
    //- AREA CHART -
    //--------------

    // Get context with jQuery - using jQuery's .get() method.
    var areaChartCanvas = $('#areaChart').get(0).getContext('2d')
    // This will get the first returned node in the jQuery collection.
    var areaChart       = new Chart(areaChartCanvas)

    var areaChartData = {
      labels  : ['{{weekly_results[0]["Date"]}}', '{{weekly_results[1]["Date"]}}', '{{weekly_results[2]["Date"]}}', '{{weekly_results[3]["Date"]}}', '{{weekly_results[4]["Date"]}}', '{{weekly_results[5]["Date"]}}', '{{weekly_results[6]["Date"]}}'],
      datasets: [
        {
          label               : 'Digital Goods',
          fillColor           : 'rgba(60,141,188,0.9)',
          strokeColor         : 'rgba(60,141,188,0.8)',
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : [{{weekly_results[0]["Result_Count"]}}, {{weekly_results[1]["Result_Count"]}}, {{weekly_results[2]["Result_Count"]}}, {{weekly_results[3]["Result_Count"]}}, {{weekly_results[4]["Result_Count"]}}, {{weekly_results[5]["Result_Count"]}}, {{weekly_results[6]["Result_Count"]}}]
        }
      ]
    }

    var areaChartOptions = {
      //Boolean - If we should show the scale at all
      showScale               : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : false,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - Whether the line is curved between points
      bezierCurve             : true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension      : 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot                : false,
      //Number - Radius of each point dot in pixels
      pointDotRadius          : 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth     : 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius : 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke           : true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth      : 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill             : true,
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio     : true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive              : true
    }

    //Create the line chart
    areaChart.Line(areaChartData, areaChartOptions)
})
</script>
<!-- This is the Jquery function that updates the 'active' tab on the menu when a page loads -->
<script>
	$(function() {
		var pgurl = '/' + window.location.href.substr(window.location.href.lastIndexOf("/")+1);
		$("#nav ul li a").each(function(){
			var thisHref = $(this).attr("href");
			if(thisHref == pgurl || thisHref == '' ) {
			    var listItem = $(this).parent();
				listItem.addClass("active");
			}
		});
	});
</script>

<!-- Include footer -->
{% include "footer.html" %}



