<!-- Include header -->
{% include "header.html" %}

<!-- Content Wrapper -->
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Activity Logs
    </h1>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <div class="col-md-12">
      <div class="row"> 
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#user" data-toggle="tab">User Logs</a></li>
              <li><a href="#scan" data-toggle="tab">Scan Logs</a></li>
              <li><a href="#database" data-toggle="tab">Database Logs</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="user">
                <table class="table table-bordered table-hover">
                  <thead><tr>
                      <th style="width:20%">Date</th>
                      <th>Type</th>
                      <th>User</th>
                      <th>Description</th>
                  </tr></thead>
                  <!-- Get search items via /showScheduleScan [app.py] -->
                  <tbody>
                    {% for ul in u_logs %}
                    <tr>
                        <td>{{ ul['date'] }}</td>
                        <td>{{ ul['type'] }}</td>
                        <td>{{ ul['user'] }}</td>
                        <td>{{ ul['description'] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="scan">
                <table class="table table-bordered table-hover">
                    <thead><tr>
                        <th style="width:20%">Date</th>
                        <th>Type</th>
                        <th>User</th>
                        <th>Description</th>
                    </tr></thead>
                    <!-- Get search items via /showScheduleScan [app.py] -->
                    <tbody>
                        {% for sl in s_logs %}
                        <tr>
                            <td>{{ sl['date'] }}</td>
                            <td>{{ sl['type'] }}</td>
                            <td>{{ sl['user'] }}</td>
                            <td>{{ sl['description'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
              <div class="tab-pane" id="database">
                <table class="table table-bordered table-hover">
                  <thead><tr>
                      <th>Date</th>
                      <th>Type</th>
                      <th>User</th>
                      <th>Description</th>
                  </tr></thead>
                  <!-- Get search items via /showScheduleScan [app.py] -->
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- /.tab-content -->
        </div> <!-- /.nav-tabs-custom -->
      </div> <!-- /end top row -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->

    
 
<!-- Page JavaScript/Jquery goes here -->
<script>
</script>


<!-- Include footer -->
{% include "footer.html" %}



