<!-- Include header -->
{% include "header.html" %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Search Items
      </h1>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
       <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <form action="/addItem">
                            <button type="submit" class="btn btn-primary" style="float:right;">Add Item</button>
                        </form>
                    </div>
                    <table class="table table-bordered table-hover" id="item_table">
                        <thead><tr>
                            <th></th>
                            <th>Item Name</th>
                            <th>Type</th>
                            <th>Date Added</th>
                        </tr></thead>
                        <!-- Get search items via /showScheduleScan [app.py] -->
                        <tbody>
                        {% for i in items %}
                        <tr>
                            <td style="min-width:8px;max-width:8px;">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/editItem?action=edit&id={{ i[0] }}">Edit</a></li>
                                        <li><a href="/editItem?action=delete&id={{ i[0] }}&name={{ i[1] }}">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                {{ i[1] }}
                            </td>
                            <td>
                                {{ i[2] }}
                            </td>
                            <td>
                                {{ i[3] }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- /box  -->
            </div> <!-- /end col -->
        </div> <!-- /end row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

    
 
<!-- Page JavaScript/Jquery goes here -->
<script>

$(function () {
    $('#item_table').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
})

</script>


<!-- Include footer -->
{% include "footer.html" %}



