<!-- Include header -->
{% include "header.html" %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Scan Schedule
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
       <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <form action="/scheduleScan" method="get">
                            <input type="hidden" name="action" value="schedule_scan">
                            <button type="submit" class="btn btn-primary" style="float:right;">Schedule New Scan</button>
                        </form>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="schedule_table">
                            <thead><tr>
                                <th></th>
                                <th>Scan Name</th>
                                <th>Description</th>
                                <th>Next Run</th>
                                <th>Frequency</th>
                            </tr></thead>
                            <!-- Get search items via /showScheduleScan [app.py] -->
                            <tbody>
                            {% for i in schedules %}
                            <tr>
                                <td style="min-width:7px;">    
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/scheduleScan?action=edit&id={{ i[4] }}">Edit</a></li>
                                            <li><a href="/scheduleScan?action=delete&id={{ i[4] }}&name={{ i[0] }}">Terminate</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    {{ i[0] }}
                                </td>
                                <td>
                                    {{ i[1] }}
                                </td>
                                <td>
                                    {{ i[2] }}
                                </td>
                                <td>
                                    {{ i[3] }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- /box body -->
                </div> <!-- /box  -->
            </div> <!-- /end col -->
        </div> <!-- /end row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

    
 
<!-- Page JavaScript/Jquery goes here -->
<script>

$(function () {
    $('#schedule_table').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : false
    })
})

</script>


<!-- Include footer -->
{% include "footer.html" %}



