{% include "header.html" %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% if action == "schedule" %}Schedule New Scan {% endif %}
            {% if action == "edit" %}Edit Scan {% endif %}
            {% if action == "delete" or action == "deleted" %}Terminate Scan {% endif %}
        </h1>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    
                    <!-- Display success/error message after scan is scheduled completes -->
                    {% if action == "fail" or action == "success" %}
                         <div class="box-header with-border">
                            <form action="/scanSchedule" method="get">
                                <button type="submit" class="btn btn-primary" style="float:right;">Return to Scan Schedule</button>
                            </form>
                        </div>
                        <div class="box-body"><center>
                            {% if action == "success" %} 
                                <h2>Scan scheduled successfully!</h2>
                                <br>
                            {% endif %}
                            {% if action == "fail" %}
                                <h2>Scan failed! See errors:</h2><br>
                                {% for i in err %}
                                    {{ i }}
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </center></div>
                    {% endif %}

                    <!-- Schedule Scan section -->
                    {% if action == "schedule" %}                    
                    <div class="box-header with-border">
                        <form action="/scanSchedule" method="get">
                            <button type="submit" class="btn btn-danger" style="float:right;">Cancel</button>
                        </form>
                    </div>
                    <div class="box-body">
                        <form action="/scheduleScan" method="POST" role="form">
                            <input type="hidden" name="action" value="schedule_scan">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Scan Name:</label>
                                        <input type="text" class="form-control" name="scanName" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Description:</label>
                                        <textarea class="form-control" rows="3" name="scanDescription"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- Get scan methods via /showScheduleScan [app.py] -->
                                        <label>
                                            Scan Method(s):
                                        </label>
                                        <br>    
                                        {% for row in scan_methods %}
                                        <label>
                                            <input type="checkbox" class="minimal" name="scan_method" value= {{ row[0] }} > 
                                            {{ row[1] }} 
                                        </label>
                                        - {{ row[2] }}
                                        <br>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label>Scan For:</label>
                                        <select class="form-control select2" name="scan_items" id="scan_items">
                                            <option value="1">All Items</option>
                                            <option value="0">Custom</option>
                                        </select>
                                    </div>
                                    <div id="custom_items" class="custom_items" style="display:none;">
                                        <label>Select Item(s):</label><br>
                                        <table class="table table-bordered table-hover" id="item_table">
                                            <thead><tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Item Type</th>
                                            </tr></thead>
                                            <!-- Get search items via /showScheduleScan [app.py] -->
                                            <tbody>
                                            {% for row in items %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="search_item" value= {{ row[0] }} >
                                                </td>
                                                <td>
                                                    {{ row[1] }}
                                                </td>
                                                <td>
                                                    {{ row[2] }}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="notification">
                                        <!-- Get users via /showScheduleScan [app.py] -->
                                        <label> User(s) to notify: </label> *optional* 
                                        <table class="table table-bordered table-hover" id="user_table">
                                            <thead><tr>
                                                <th>Name</th>
                                            </tr></thead>
                                            <!-- Get search items via /showScheduleScan [app.py] -->
                                            <tbody>
                                            {% for row in users %}
                                            <tr>
                                                <td>
                                                    {{ row[1] }} {{ row[2] }}
                                                </td>
                                                    {% for n in notifications %}
                                                    {% if n[1] == row[0] %}
                                                    <td>
                                                        <input type="checkbox" name="notification_method" value={{ n[0] }}> {{ n[3] }}
                                                    </td>
                                                    {% endif %}
                                                    {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>    
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start Date/Time:</label>
                                        <input type="datetime-local" class="form-control" name="startDate">
                                    </div>
                                    <div class="form-group">
                                        <label>Scan Frequency:</label><br>
                                        <input type="radio" class="minimal" name="frequency" checked="checked" value="0"> One-time<br>
                                        <input type="radio" class="minimal" name="frequency" value="1"> Recurring
                                    </div>
                                    <!-- For recurring scans -->
                                    <div id="frequency1" class="frequency" style="display:none;">
                                        <div class="form-group">
                                            <label>End Date/Time:</label>
                                            <input type="datetime-local" class="form-control" name="endDate">
                                        </div>
                                        <div class="form-group">
                                            <label>Interval:</label>
                                            <select class="form-control select2" id="interval" name="interval">
                                                <option>Hourly</option>
                                                <option>Daily</option>
                                                <option>Weekly</option>
                                                <option>Biweekly</option>
                                                <option>Monthly</option>
                                            </select>
                                        </div>
                                    </div> <!-- / end frequency2 -->
                                </div> <!-- / end col 6 -->
                            </div> <!-- / end row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <div class="box-footer"> -->
                                    <center><button type="submit" class="btn btn-block btn-success">Submit</button></center>
                                    <!-- </div> -->
                                </div> <!-- / end col 12 -->
                            </div> <!-- / end row -->
                        </form> <!-- / end form -->
                    </div> <!-- /box body -->
                    {% endif %} <!-- / end Scan Schedule -->


                    <!---  Edit scheduled scan -->
                    {% if action == "edit" %}                    
                    <div class="box-header with-border">
                        <form action="/scanSchedule" method="get">
                            <button type="submit" class="btn btn-danger" style="float:right;">Cancel</button>
                        </form>
                    </div>
                    <div class="box-body">
                        <form action="/scheduleScan" method="POST" role="form">
                            <input type="hidden" name="action" value="edit_scan">
                            <input type="hidden" name="id" value='{{scan["scan_id"]}}'>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Scan Name:</label>
                                        <input type="text" class="form-control" name="scanName" value='{{scan["name"]}}'>
                                    </div>
                                    <div class="form-group">
                                        <label>Description:</label>
                                        <textarea class="form-control" rows="3" name="scanDescription">{{scan["description"]}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- Get scan methods via /showScheduleScan [app.py] -->
                                        <label>
                                            Scan Method(s):
                                        </label>
                                        <br>    
                                        {% for row in scan_methods %}
                                        <label>
                                            <input type="checkbox" name="scan_method" value= "{{ row[0] }}" 
                                                {% for s in scanners %}
                                                    {% if row[0] in s.items() %} checked="checked" {% endif %} 
                                                {% endfor %}
                                            >
                                            {{ row[1] }} 
                                        </label>
                                        - {{ row[2] }}
                                        <br>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label>Scan For:</label>
                                        <select class="form-control select2" name="scan_items" id="scan_items">
                                            <option value="1" {% if scan["all_products"] == "1" %} selected{% endif %}>All Items</option>
                                            <option value="0" {% if scan["all_products"] != "1" %} selected{% endif %}>Custom</option>
                                        </select>
                                    </div>
                                    <div id="custom_items" class="custom_items"  {% if scan["all_products"] == "1" %}style="display:none;" {% endif %}>
                                        <label>Select Item(s):</label><br>
                                        <table class="table table-bordered table-hover" id="item_table">
                                            <thead><tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Item Type</th>
                                            </tr></thead>
                                            <!-- Get search items via /showScheduleScan [app.py] -->
                                            <tbody>
                                            {% for row in items %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="search_item" value= {{ row[0] }} {%if scan_items[row[0]] is defined %} checked="checked"{% endif %}>
                                                </td>
                                                <td>
                                                    {{ row[1] }}
                                                </td>
                                                <td>
                                                    {{ row[2] }}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="notification">
                                        <!-- Get users via /showScheduleScan [app.py] -->
                                        <label> User(s) to notify: </label> *optional* 
                                        <table class="table table-bordered table-hover" id="user_table">
                                            <thead><tr>
                                                <th>Name</th>
                                            </tr></thead>
                                            <!-- Get search items via /showScheduleScan [app.py] -->
                                            <tbody>
                                            {% for row in users %}
                                            <tr>
                                                <td>
                                                    {{ row[1] }} {{ row[2] }}
                                                </td>
                                                    {% for n in notifications %}
                                                    {% if n[1] == row[0] %}
                                                    <td>
                                                        <input type="checkbox" name="notification_method" value='{{ n[0] }}'  {% if scan_notifications[n[0]] is defined %} checked="checked" {% endif %} > {{ n[3] }}
                                                    </td>
                                                    {% endif %}
                                                    {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>    
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start Date/Time:</label>
                                        <input type="datetime" class="form-control" name="startDate" value="{{scan['start_date']}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Scan Frequency:</label><br>
                                        <input type="radio" name="frequency" value="0" {% if scan["repeat"] == '0' %} checked="checked"{% endif %}> One-time<br>
                                        <input type="radio" name="frequency" value="1" {% if scan["repeat"] == '1' %} checked="checked"{% endif %}> Recurring
                                    </div>
                                    <!-- For recurring scans -->
                                    <div id="frequency1" class="frequency" {% if scan["repeat"] != '1' %} style="display:none;" {% endif %}>
                                        <div class="form-group">
                                            <label>End Date/Time:</label>
                                            <input type="datetime-local" class="form-control" name="endDate" value='{{scan["end_date"]}}'>
                                        </div>
                                        <div class="form-group">
                                            <label>Interval:</label>
                                            <select class="form-control select2" id="interval" name="interval">
                                                <option {% if scan["gap_time"] == '00:60:00' %} selected='selected'{% endif %}>Hourly</option>
                                                <option {% if scan["gap_days"] == '1' %} selected='selected'{% endif %}>Daily</option>
                                                <option {% if scan["gap_days"] == '7' or scan["gap_weeks"] == '1' %} selected='selected'{% endif %}>Weekly</option>
                                                <option {% if scan["gap_weeks"] == '2' %} selected='selected'{% endif %}>Biweekly</option>
                                                <option {% if scan["gap_months"] == '1' %} selected='selected'{% endif %}>Monthly</option>
                                            </select>
                                        </div>
                                    </div> <!-- / end frequency2 -->
                                </div> <!-- / end col 6 -->
                            </div> <!-- / end row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <div class="box-footer"> -->
                                    <center><button type="submit" class="btn btn-block btn-success">Update Scan</button></center>
                                    <!-- </div> -->
                                </div> <!-- / end col 12 -->
                            </div> <!-- / end row -->
                        </form> <!-- / end form -->
                    </div> <!-- /box body -->
                    {% endif %} <!-- / end edit scan -->


                    <!-- Terminate scheduled scan section -->
                    {% if action == "delete" %}                    
                    <div class="box-header with-border">
                        <form action="/scanSchedule" method="get">
                            <button type="submit" class="btn btn-danger" style="float:right;">Cancel</button>
                        </form>
                    </div>
                    <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <div class="box-footer"> -->
                                    <center>
                                        <h3>Are you sure you want to terminate scan "<b>{{ scan_name }}</b>"?</h3>
                                        <form action="/scheduleScan" method="POST">
                                            <input type="hidden" name="action" value="confirm_delete">
                                            <input type="hidden" name="id" value="{{ scan_id }}">
                                            <input type="hidden" name="name" value="{{ scan_name }}">
                                            <button type="submit" class="btn btn-block btn-success">Yes</button>
                                        </form>
                                    </center>
                                    <!-- </div> -->
                                </div> <!-- / end col 12 -->
                            </div> <!-- / end row -->
                    </div> <!-- /box body -->
                    {% endif %} <!-- / end terminate scan -->


                    <!-- Deletion complete section -->
                    {% if action == "deleted" %}                    
                    <div class="box-header with-border">
                        <form action="/scanSchedule" method="get">
                            <button type="submit" class="btn btn-danger" style="float:right;">Return to Scan Schedule</button>
                        </form>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <div class="box-footer"> -->
                                <center>
                                    {% if err == "none" %} 
                                    <h3>Scan "<b>{{ scan_name }}</b>" terminated successfully!</h3>
                                    {% endif %}
                                    {% if err != "none" %} 
                                    <h3>Failed to terminate scan "<b>{{ scan_name }}</b>".</h3>
                                    {% endif %}
                                </center>
                                <!-- </div> -->
                            </div> <!-- / end col 12 -->
                        </div> <!-- / end row -->
                    </div> <!-- /box body -->
                    {% endif %} <!-- / end completed delete scan -->


                    <!-- Edit complete section -->
                    {% if action == "edited" %}                    
                    <div class="box-header with-border">
                        <form action="/scanSchedule" method="get">
                            <button type="submit" class="btn btn-danger" style="float:right;">Return to Scan Schedule</button>
                        </form>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <div class="box-footer"> -->
                                <center>
                                    {% if err == "none" %} 
                                    <h3>Scan "<b>{{ scan_name }}</b>" updated successfully!</h3>
                                    {% endif %}
                                    {% if err != "none" %} 
                                    <h3>Failed to update scan "<b>{{ scan_name }}</b>".</h3>
                                    {% endif %}
                                </center>
                                <!-- </div> -->
                            </div> <!-- / end col 12 -->
                        </div> <!-- / end row -->
                    </div> <!-- /box body -->
                    {% endif %} <!-- / end completed delete scan -->






                </div> <!-- /box  -->
            </div> <!-- /end col 12-->
        </div> <!-- /end row -->
    </section> <!-- /end content-container fluid -->
</div>
 



<script>

$(function () {
    $('#item_table').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'autoWidth'   : false
    })
})


$(function () {
    $('#user_table').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'autoWidth'   : false
    })
})

$(document).ready(function(){


    // for showing search items when custom search items is selected 
    $("#scan_items").change(function () {
        var items = this.value;
        if (items == 0){
            $("#custom_items").show();
        }else{
            $("#custom_items").hide();
        }
    });

    // for showing options when recurring-scan option is selected
    $("input[name$='frequency']").click(function() {
        var test = $(this).val();

        $("div.frequency").hide();
        $("#frequency" + test).show();
    });

    // for showing notification options when users are selected 
    $("input[name$='notify_user']").click(function() {
        var user = $(this).val();
        if ($('input.'+user).is(':checked')) { 
            // show notification methods if checked
            $('#'+user+'_method').show();
        }else{
            $('#'+user+'_method').hide();
        }
    });

});

</script>

{% include "footer.html" %}




